# Baseball Database Exploration using the Lahman Database

source - http://www.seanlahman.com/baseball-archive/statistics/

The Lahman Database contains historical baseball data results by season going back to the 19th century. We will use this database to explore some more advanced SQL techniques.

In [ ]:
# import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# sql connect
%load_ext sql

%sql postgresql://postgres:yellowpencil@35.196.107.77/postgres

## Let's see what tables are available to us in the database

In [ ]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE "table_type" = 'BASE TABLE' AND "table_schema" = 'public'

## fact_players looks like our transactional table for this exercise - the database is built around the player as a key.

In [ ]:
%%sql
select * from fact_players
limit 10

## Look at dim_batting to see what kind of statistics we can pull in for a player

In [ ]:
%%sql
select * from dim_batting
limit 10

# You are now working in the front office of a baseball team - you are tasked with a simple request for your first assignment, finding the players who have hit the most home runs in history so that you can bring them all in to play for your team
### (ignoring the fact that many players in this database are dead or long since retired, but we'll do what we're told)

* We have our fact table, fact_player, so we can get details about the player.
* We can see that dim_batting has a field "HR" for home runs.

The query below should get us what we want, correct?

In [ ]:
%%sql
select p."nameFirst", p."nameLast", sum(b."HR") as home_runs
from fact_players p, dim_batting b 
where p."playerID" = b."playerID"
group by p."nameFirst", p."nameLast"
order by home_runs desc
limit 10
;

### ... and your boss throws your report back in your face and yells at you for giving him crappy results. Barry Bonds is supposed to be at the top of this list with 762 home runs! What went wrong?

In [ ]:
%%sql
select *
from fact_players p
where p."nameFirst" = 'Frank' and p."nameLast" = 'Thomas'

## By excluding the playerID, our unique key for an individual person, we accidentally attributed all home runs for both Frank Thomases throughout history to one "Frank Thomas" who does not exist.

In [ ]:
%%sql
select p."playerID", p."nameFirst", p."nameLast", sum(b."HR") as home_runs
from fact_players p, dim_batting b 
where p."playerID" = b."playerID"
group by p."playerID", p."nameFirst", p."nameLast"
order by home_runs desc
limit 10
;

## You are asked to identify if a player went to college or not. The team needs to play smarter, so we are identifying players who went to Harvard.

* We can see two tables that would help us, dim_schools and dim_college
* As we can see below, dim_schools provides us the information for a school, while dim_college can join directly back to our fact table on playerID to tell us what school a player went to, and which years.

In [ ]:
%%sql
select * from dim_schools
where name_full like '%Harvard%'
limit 10;

In [ ]:
%%sql
select * from dim_college
where "schoolID" = 'harvard'
limit 10;

### Below is one way to find players who went to Harvard, and your boss was mad that you gave him results of high home run hitters who were dead or retired, so now he wants you to limit your results for Harvard grads to players who were playing as recently as 2016.

In [ ]:
%%sql
select p."playerID", p."nameFirst", p."nameLast", p."debut", p."finalGame"
from fact_players p
     INNER JOIN dim_college cp on p."playerID" = cp."playerID"
                                        and "schoolID" = 'harvard'
                                        and p."finalGame" >= '2016-01-01'

### And there are no players. The above was not useful - but how do we add whether or not a player went to college as a feature? That should be more widely applicable than just limiting our results to one school.

In [ ]:
%%sql
select distinct p."playerID", p."nameFirst", p."nameLast",
        case when cp."playerID" is not null then 1 else 0 end as college_flg
from fact_players p
    LEFT JOIN dim_college cp on p."playerID" = cp."playerID"
where p."finalGame" >= '2016-01-01'
limit 10;

### Good! Now that you have identified whether or not an active player went to college for your boss, he wants you to put together a dataset that can help him find future hall of famers.

The table to use for this is dim_hall_of_fame.

In [ ]:
%%sql
select *
from dim_hof
limit 10

In [ ]:
%%sql
select p."playerID", p."nameFirst", p."nameLast", sum(b."HR") as home_runs, hof."inducted"
from fact_players p 
INNER JOIN dim_batting b on p."playerID" = b."playerID"
LEFT JOIN dim_hof hof on p."playerID" = hof."playerID"
group by p."playerID", p."nameFirst", p."nameLast", hof."inducted"
order by home_runs desc
limit 25
;

### That can't be right... There's some duplication going on in our join. Looking back at the hall of fame dimension, what probably went wrong?

### The query below can show us an example of how we can fix this -

In [ ]:
%%sql
select "playerID", count(*) from (
select "playerID", "inducted"
from dim_hof hof
    where "yearid" = (select max("yearid") as yrmax 
                      from dim_hof tsub
                      where tsub."playerID" = hof."playerID"
                      group by "playerID"
                     )

) foo group by "playerID" having count(*) > 1
limit 50

### Still 28 duplicating results - but out of thousands of records this is an improvement. Let's examine one.

In [ ]:
%%sql
select * from dim_hof
where "playerID" = 'walshed01'

In [ ]:
%%sql
select p."playerID", p."nameFirst", p."nameLast", sum(b."HR") as home_runs, hof."inducted"
from fact_players p 
INNER JOIN dim_batting b on p."playerID" = b."playerID"
LEFT JOIN (
            select "playerID", "inducted"
            from dim_hof hof
            where "yearid" = (select max("yearid") as yrmax 
                              from dim_hof tsub
                              where tsub."playerID" = hof."playerID"
                              group by "playerID"
                             )
            ) hof on p."playerID" = hof."playerID"
group by p."playerID", p."nameFirst", p."nameLast", hof."inducted"
order by home_runs desc
limit 10
;

### Better, but we still don't have binary results for inducted members.

We can solve this using a case statement, and then some aggregation.

In [ ]:
%%sql
select p."playerID", p."nameFirst", p."nameLast", sum(b."HR") as home_runs, 
        max(case when hof."inducted" = 'Y' then 1 else 0 end) as hof_induction
from fact_players p 
INNER JOIN dim_batting b on p."playerID" = b."playerID"
LEFT JOIN (
            select "playerID", "inducted"
            from dim_hof hof
            where "yearid" = (select max("yearid") as yrmax 
                              from dim_hof tsub
                              where tsub."playerID" = hof."playerID"
                              group by "playerID"
                             )
            ) hof on p."playerID" = hof."playerID"
group by p."playerID", p."nameFirst", p."nameLast"
order by home_runs desc
limit 10
;

## Now that you've helped provide data that can identify the next hall of famer, your boss wants you to find the top home run hitting team in each of the last 4 seasons so that he can find out what they're doing right.

We will use dim_teams to get information on teams.

In [ ]:
%%sql
select *
from dim_teams
limit 10;

There is an HR field for home runs in here. How will we get the top teams by season, let alone over the last 4 seasons?

The easiest way is a windowing function:

In [ ]:
%%sql
select "name", "yearID", "HR", rank() over (partition by "yearID" order by "HR" desc) as HR_rank
from dim_teams
where "yearID" in (2013, 2014, 2015, 2016)
;

Now that you have the teams, what about individual players that your team could try to sign to your team?

What are the fields we will have to join on to get team and player info?

In [ ]:
%%sql
select p."nameFirst", p."nameLast", b."yearID", t."name", sum(b."HR") as home_runs
from fact_players p, dim_batting b, dim_teams t 
where p."playerID" = b."playerID"
    and t."teamID" = b."teamID"
    and t."yearID" = b."yearID"
    and b."yearID" in ('2013','2014','2015','2016')
group by p."nameFirst", p."nameLast", b."yearID", t."name"
order by home_runs desc
limit 10
;

### The details above are a little busy, how about just getting each team's home run leader over the last 4 years?

In [ ]:
%%sql
select *
from (
select p."nameFirst", p."nameLast", t."name", sum(b."HR") as home_runs
        , rank() over (partition by t."name" order by sum(b."HR") desc) as hr_rank
from fact_players p, dim_batting b, dim_teams t 
where p."playerID" = b."playerID"
    and t."teamID" = b."teamID"
    and t."yearID" = b."yearID"
    and b."yearID" in ('2013','2014','2015','2016')
group by p."nameFirst", p."nameLast", t."name"
) foo
where "hr_rank" = 1
;

## Takeaways
* Be cognizant of your keys and joins. Be aware of cardinality of tables - the limit command and doing a count(*) for a specific field are good ways to determine a unique key for a table and make sure you do not have a bad join. 
* Depending on your needs, you can save a lot of memory and time by using resources available on a database rather than pulling down files locally - it is easier to roll up to the highest level possible there, then pull it down.
* However - you will not be the only user of a database! There will be other analysts and production processes hitting the same tables. If you have a bad query that is taking forever to finish and preventing other queries from completing, you will make your DBAs very angry.